[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DiscreteFDR"]
	path = DiscreteFDR
	url = https://github.com/disohda/discretefdr
[submodule "FDX"]
	path = FDX
	url = https://github.com/disohda/fdx
[submodule "PoissonBinomial"]
	path = PoissonBinomial
	url = https://github.com/disohda/poissonbinomial
